rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Admins log in via Firebase Auth (Email/Pass), Devices log in via Custom Tokens (no email).
    function isAdmin() {
      return request.auth != null && request.auth.token.email != null;
    }
    
    // Check if the current user is a specific Kiosk device
    function isDevice(deviceId) {
      return request.auth != null && request.auth.uid == deviceId;
    }
    
    match /devices/{deviceId} {
      allow read: if isAdmin() || isDevice(deviceId);
      
      // Admins have full access. Devices can only update their own document, and cannot spoof admin commands (like authRequestPending).
      allow create, delete: if isAdmin();
      allow update: if isAdmin() || (
        isDevice(deviceId) &&
        (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['authRequestPending', 'advancedUnlocked'])) &&
        (request.resource.data.logRequestPending == false || request.resource.data.logRequestPending == resource.data.logRequestPending)
      );
      
      match /telemetry/{date} {
        allow read, write: if isAdmin() || isDevice(deviceId);
      }
    }
    
    match /config/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    
    match /approved_apps/{document=**} {
      // Devices can read the app list to sync, but only Admins can manage apps.
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}
